*{  margin:0; padding:0;}
@media screen and (min-width: 1201px  ) {
 body{width:100%;height: 100%;margin:0 ;padding:0;background-color:#EFEFEF;user-select: none;}
 .back_arrow{display: none;}
.navbar{ height: 56px;margin: 0;padding: 0;
background: rgba(28,101,189,1);
background: -moz-linear-gradient(left, rgba(28,101,189,1) 0%, rgba(28,101,189,1) 52%, rgba(39,163,230,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28,101,189,1)), color-stop(52%, rgba(28,101,189,1)), color-stop(100%, rgba(39,163,230,1)));
background: -webkit-linear-gradient(left, rgba(28,101,189,1) 0%, rgba(28,101,189,1) 52%, rgba(39,163,230,1) 100%);
background: -o-linear-gradient(left, rgba(28,101,189,1) 0%, rgba(28,101,189,1) 52%, rgba(39,163,230,1) 100%);
background: -ms-linear-gradient(left, rgba(28,101,189,1) 0%, rgba(28,101,189,1) 52%, rgba(39,163,230,1) 100%);
background: linear-gradient(to right, rgba(28,101,189,1) 0%, rgba(28,101,189,1) 52%, rgba(39,163,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c65bd', endColorstr='#27a3e6', GradientType=1 );}
.logo2{ height:48px;padding-left: 30px; border-radius:10px 10px;}
#nid{ padding-right: 20px;}
.nav-item{ padding-left: 20px;}
#link{color:white;}

.restaurant_headersection{padding:10px;margin-top:56px;width: 100%;
background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-item{
  padding-left: 40px;
}
.restaurant_hs_ratingtext{
  padding-left: 10px;width: 120px;}

.hs_restauarantname{color: #FA5D03;font-size: 20px;}
.hs_liveorders{
  font-size: 16px;
}
.restaurant_hs_live{
  padding-left: 30px;
}
#rimg{margin-left:100px;
  width: 250px;height: 150px;}
.restaurant_clock_mb{color: dodgerblue;}.fa-book-open{color: dodgerblue;padding-left: 20px;font-size: 16px;margin-top: 2px;}
.time_main_mb{padding-left: 10px;}
.searcharea_input{width: 415px; height: 42px;background-color: white;margin: 0;padding: 0;margin-left: 30px;}
#form_input{padding: 0px;}
#input_main{width:255px; background-color: transparent;border:none;color:black;outline: none;font-size: 18px;}
#locateme_button{background-color:#F2F2F2;color: #545454;font-weight: bold;font-size: 16px;}
#search_button{background-color: #FA5D03;border-radius: 0;margin-left: 7px;}
.input-group-btn{padding:0px;}
#maincontainer{ width: 100%;letter-spacing:0.2px;}
#maincontainer_column1{width: 100%;background-color:white;}

#maincontainer_column2{width: 100%;background-color:white; height: 100%;padding-bottom: 10px;}
.searcharea_input2{width:600px; height: 38px;background-color: white;margin: 0;padding: 0;margin-left: 40px;margin-top: 5px;}

.search_restaurant_text{width: 80%;padding-left: 35px;line-height: 16px;font-weight: bold;color: #545454;}
.search_seealltext{width: 20%;padding-right: 30px;}
#form_input2{padding: 0;margin: 0;}
#input_main2{ background-color: transparent;border:none;color:black;outline: none;font-size: 18px;padding: 0;padding-left: 10px;}
#search_button2{background-color: #FA5D03;border-radius: 0;padding-left: 22px;padding-right: 22px;}
.input-group-btn2{padding-top:0px;}

#scr1{width: 95%;margin: 0px;margin-left: 2.5%;background-color: white;margin-top: 5px;border-radius: 5px;padding: 8px;box-shadow: 3px 3px #D9DADC;}
#restaurant_image_column{padding: 0;}
#restaurant_image{width: 150px;height:100px;padding-top:3px;padding-left:5px; border-radius: 3px;overflow: hidden;}
#restaurant_details_column{padding-left: 10%;padding-top: 2%;}
#restaurant_name_main{font-weight: bold;padding: 1px;margin: 0;color: #FA5D03;font-size: 20px;}
#restaurant_name_main:hover{opacity: 0.8}
#restaurant_address_main{color: #646464;margin-bottom: 0;padding: 1px;font-size: 18px;line-height: 20px;}
#rating_liveorders_main{padding-top: 5px;width: 100%;font-size: 14px;}
.restaurant_cost_text{font-size: 18px;padding-left: 0;line-height: 20px;font-weight:bold;}

#restaurant_timetaken_column{padding: 0;}



#restaurant_timetaken{color: #FA5D03;line-height: 20px;padding-top: 10px;font-size: 16px;}
#time_main{color:#646464;font-weight: bold;}
.checked{color:orange;}
#s5{color:#646464 ;margin-left:0%;}
#use{color: dodgerblue;}.live_number{padding-left: 10px;color: #545454;font-weight: bold;}

.restaurant_clock{color: dodgerblue;}
.toserve_text{font-size: 14px;padding-left: 25px;}
.res_distance_row{margin-top: 10px;}
.res_distance_row1{padding-left: 10px;}
.res_distance_row_text{color: #545454;font-size: 16px;}
.kmaway_text{color: #545454;font-size: 16px;}
.res_distance_row_font{color: green;}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */font-size: 16px;color: #545454  ;font-weight: 600;}
.form-control::-ms-input-placeholder { /* Chrome/Opera/Safari */font-size: 16px;color: #545454  ;}
.form-control::-moz-placeholder { /* Chrome/Opera/Safari */font-size: 16px;color:  #545454  ;}
.b{display: none;}
.restaurant_timetaken_column_mobile{display: none;}




.kmaway_text_mb{color: #545454;font-size: 14px;font-weight:500;}

}

@media screen and (max-width: 1200px  ) {
html {width: auto!important; overflow-x: hidden!important;} 
 body{width:100%;height:100%;margin:0 ;padding:0;background-color:#e2e2e2 ;width: auto!important; overflow-x: hidden!important;}
 .back_arrow{color: dodgerblue;padding-left: 8px;font-size: 18px;font-weight: 200;}
.navbar{display: none;}.container-fluid{padding-right: 30px;padding-left: 30px;}
.restaurant_headersection{padding:10px;margin-top:0px;width: 100%;
background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.nav-item{padding-left: 40px;}
.restaurant_hs_ratingtext{padding-left: 10px;width: 120px;}
.hs_restauarantname{color: #FA5D03;font-size: 20px;}
.hs_liveorders{font-size: 16px;}
.restaurant_hs_live{padding-left: 30px;}
#rimg{margin-left:10px;width: 200px;height: 150px;}
.restaurant_clock_mb{color: dodgerblue;}.fa-book-open{color: dodgerblue;padding-left: 20px;font-size: 16px;margin-top: 2px;}
.time_main_mb{padding-left: 10px;}

#maincontainer{width: 100%;margin-top: 3px;}
#maincontainer_column1{display: none;margin:0px;height:0px;padding:0;}
#maincontainer_column2{width: 100%;height: 100%;padding: 0;}
.searcharea_input2{width: 90%;height: 35px; background-color: white;margin: 0;padding: 0;margin-left:5%;border-radius: 5px;}
#form_input2{padding: 0;margin: 0;}
#input_main2{background-color: transparent;border:none;color:black;outline: none;font-size: 18px;padding: 0;padding-left: 10px;}
#search_button2{background-color: #FA5D03;border-radius: 0;border-radius: 5px;height: 35px;padding-left: 22px;padding-right: 22px;}
.input-group-btn2{padding-top:0px;}
.searchbarrestaurant1{margin-top: 6px;}
.search_restaurant_text{width: 80%;padding-left: 11px;font-size: 18px;line-height: 16px;font-weight: bold;color: #545454;}

#scr1{width:100%;padding-bottom: 10px;padding-top:10px;border-bottom: 1px solid #AFAFAF;margin-left: 1px;
  background-color: white;margin-top: 5px;border-radius: 8px;}
#restaurant_image_column{padding: 0;}
#restaurant_image{width: 175px;height:100px;padding-left:10px; border-radius: 3px;}
#restaurant_details_column{padding-left: 5%;padding-top: 2%;}
#restaurant_name_main{font-weight: bold;padding: 1px;margin: 0;color: #FA5D03;font-size: 20px;}
#restaurant_name_main:hover{opacity: 0.8}
#restaurant_address_main{color: #646464;margin-bottom: 0;padding: 1px;font-size: 14px;line-height: 20px;}
#rating_liveorders_main{padding-top: 5px;width:100%; font-size: 18px;}
.restaurant_cost_text{font-size: 16px;padding-left: 0;line-height: 20px;padding-left: 2px;font-weight: 600;color: #545454;}
#restaurant_timetaken_column{padding: 0;}
#restaurant_timetaken{color: #FA5D03;line-height: 20px;padding-top: 10px;font-size: 16px;}
#time_main{color:#646464;font-weight: bold;}
.restaurant_clock{color: dodgerblue;}
.toserve_text{font-size: 14px;padding-left: 25px;}
#s5{color:#646464 ;margin-left:0%;}
#use{color: dodgerblue;}#use1{color: dodgerblue;}
.live_number{padding-left: 10px;color: #545454;font-weight: bold;}
#time_main{font-weight: bold;}
.res_distance_row{margin-top: 10px;}
.res_distance_row1{padding-left: 10px;}
.res_distance_row_text{color: #545454;font-size: 16px;}
.kmaway_text{color: #545454;font-size: 16px;}
.res_distance_row_font{color: dodgerblue;}
.double_arrow{color:#545454; }
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */font-size: 16px;color: #545454  ;font-weight: 600;}
.form-control::-ms-input-placeholder { /* Chrome/Opera/Safari */font-size: 16px;color: #545454  ;}
.form-control::-moz-placeholder { /* Chrome/Opera/Safari */font-size: 16px;color:  #545454  ;}
.checked{color: orange;}
}


 @media screen and (max-width: 767px  ) {
.navbar{display: none;}.container-fluid{padding-right: 14px;padding-left: 14px;}
#rimg{margin-left:10px;width: 160px;height: 150px;}
#scr1{width:100%;padding-bottom: 10px;padding-top:10px;border-bottom: 1px solid #AFAFAF;margin-left: 0px;
  background-color: white;margin-top: 5px;border-radius: 8px;}
#restaurant_details_column{padding-left: 8%;padding-right: 0;}
#restaurant_image{width:120px;height:100px;}
#restaurant_name_main{font-weight: bold;font-size: 18px;}
#restaurant_address_main{color: #646464;font-size: 14px;}
#rating_liveorders_main{padding-top: 0px;width: 65%; font-size: 15px;margin: 0;color: black;}
#s5{color:black ;margin-left:0%;}
#use{color: dodgerblue;}
#restaurant_timetaken_column{padding: 0;}
.restaurant_cost_text{font-size: 14px;padding-left: 0;line-height: 17px;}
}

@media screen and (max-width: 575px  ) {
html {width: auto!important; overflow-x:hidden;} 
body{width:100%;height:100%;margin:0 ;padding:0;background-color:#e2e2e2 ;width: auto!important; overflow-x: hidden!important;line-height: 16px;}
.container-fluid{padding-right: 7px;padding-left: 7px;}
.restaurant_hs_imgcolumn{display: none;}
.restaurant_headersection{height:145px; margin-top:0px;width: 100%;background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/lbk.jpg");
background-size: cover;background-position: center;background-repeat: no-repeat;padding:0;padding-top: 6px;padding-left: 5px;}
.hs_restauarantname{color:white;font-size: 20px;font-weight:500;padding-top: 2px;padding-left: 25px;}
.hs_address,.hs_types{color:white;font-size: 16px;font-weight:200;margin-top: 5px;padding-left: 25px;line-height: 17px;}
#rating_row{margin-top: 5px;color: white;}
.checked{padding-left: 25px;}
.restaurant_hs_ratingtext{padding-left: 10px;width: 98px;}
.hs_liveorders{font-size: 16px;}
.hs_menu{color: white;}.fa-book-open{padding-left: 10px;}
#s5{width: 112px; color:white ;margin-left:6.5%;margin-top: 5px;font-size: 15px; }.s5_mb{margin-top: 5px;margin-right: 5px;}
#use{padding-left:0px;color: dodgerblue;}
#maincontainer{width: 100%;margin-top: 5px;}
#maincontainer_column2{width: 100%;height: 100%;padding: 0;}
.searcharea_input2{width: 94%;height: 32px; background-color: white;margin: 0;padding: 0;margin-left:3%;border-radius: 5px;}

#form_input2{padding: 0;margin: 0;}
#input_main2{background-color: transparent;border:none;color:black;outline: none;font-size: 18px;padding: 0;padding-left: 10px;}
#search_button2{background-color: #FA5D03;border-radius: 0;border-radius: 3px;height: 32px;padding-top: 2px;padding-left: 10px;padding-right: 10px;}
.fa-search{position: relative;color:black;text-align: center;padding-left:3px;line-height: 17px;}
.input-group-btn2{padding-top:0px;}
.searchbarrestaurant1{margin-top: 4px;}
.search_restaurant_text{width: 70%;padding-left: 5px;font-size: 16px;line-height: 16px;font-weight: 550;color: #545454;}

#scr1{width: 100%;padding-bottom:12px;padding-top:8px; background-color:white;margin-right:0%;height: 100%;}
#scr1:hover {
   transform: scale(0.98,0.98);
       -webkit-transform: scale(0.98,0.98,0.98); /* Safari 3-8 */
    -ms-transform: scale(0.98,0.98); /* IE 9 */

    
}
#restaurant_image_column{width: 25%;padding-left: 4px;overflow:hidden;}
#restaurant_image{margin:0;padding: 0;width:80px;height:80px;margin-top: 4%;margin-left:6%;}
#restaurant_details_column{width: 75%;padding-left:3%;}
#restaurant_name_main{color: #FA5D03;font-weight: bold;font-size: 16px;line-height: 17px;padding: 0;margin: 0;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
#restaurant_address_main{color: #646464;font-size: 15px;line-height: 17px;padding: 0;margin-top:8px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
#rating_liveorders_main{padding-top:8px;width: 100%; font-size: 14px;margin-top: 1px;}
.restaurant_cost_text{font-size: 15px;padding-left: 0;line-height: 17px;}


.live_number{padding-left: 5px;color: white;font-weight: bold;font-weight: 14px;}
#restaurant_timetaken_column{padding: 0;width: 30%;display: none;}
#time_main_mb{margin-left: 5px; font-weight:500;font-size: 15px;padding: 0px;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
.toserve_text_mb{font-size: 15px;padding-left:0px;font-weight: 420;}
.restaurant_clock_mb{color: dodgerblue;}

.res_distance_row_mb{margin-top: 0px;width: 46%; padding-left: 3px;font-weight:500;padding-left: 0px;}
.res_distance_row1_mb{padding-left: 0px;margin: 0;}
.res_distance_row_text_mb{color: #545454;font-size: 15px;}
.kmaway_text_mb{color: #545454;font-size: 14px;font-weight:500;}
.res_distance_row_font_mb{color: dodgerblue;}


 .back_arrow{color:white;padding-left: 10px;font-size: 18px;font-weight: 100;margin-top: 0px;}
.double_arrow{color:#545454; }
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */font-size: 14px;}
.form-control::-ms-input-placeholder { /* Chrome/Opera/Safari */font-size: 14px;}
.form-control::-moz-placeholder { /* Chrome/Opera/Safari */font-size: 14px;}
}



