//#image 
#watch
  .hour  
    .min
    .min
    .min
    .min
    .min
  .hour
    .min
    .min
    .min
    .min
    .min
  // Braun Logo - Need to work on scaling
  //
    #logo
      span
      span
      span
  
  // Hand
  #min
  // Hand
  #hour
  // Hand
  #sec
  // Date
  #date
  // Dial
  #dial
  ol
    li
    li
    li
    li
    li
    li
    li
    li
    li
    li
    li
    li